@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.conteiner{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
header{
    top: 0;
    left: 0;
    width: 100%;
}
.nav{
    background: #0170b9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    box-shadow: 0 0 5px 0  black; 
}
.nav_logo{
    padding: 10px 0;
}
.menu_items{
    display: flex;
    list-style: none;
    gap: 100px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.nav-link:hover{
    color: #2aa6f8;
}
a{
    text-decoration: none;
    color: #ffffff;
}

.conteiner2{
    max-width: 1300px;
    width: 100%;
    margin: 50px auto;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
}
.block{
    background-color: #0170b9;
    width: 55%;
    height: 500px;

}
.zagalovk{
    margin: 20px 5px 0 20px;
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.min-line{
    background-color: white;
    width: 350px;
    height: 5px;
    margin: 10px 0 0 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.information{
    margin: 10px 0 0 20px;
    font-size: 22px; 
    font-weight: 500;
    color: white;
}
.colleg{
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 10px;
}


.conteiner3{
    max-width: 1300px;
    width: 100%;
    height: 600px;
    margin: 100px auto;
}
.content2{
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    margin-bottom: 500px;
    height: 600px;
}
.line{
    display: flex;
}
.first-line{
    width: 600px;
    height: 5px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.second-line{
    width: 600px;
    height: 5px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 100px;
}
.col{
    width: 50px;
    margin: -50px 0 0 622px;
}
.news{
    font-size: 20px;
    margin: 10px 0 0 0;
}

.box1{
    width: 355px;
    height: 350px;
    margin: 100px 0 0 0;
}
.box2{
    width: 355px;
    height: 350px;
    position: relative;
    left: 475px;
    bottom: 350px;
}
.box3{
    width: 355px;
    height: 350px;
    position: relative;
    left: 945px;
    bottom: 700px;
}
.border1{
    border: 3px solid #0170b9;
    width: 355px;
    height: 350px;
    position: relative;
    bottom: 330px;
}
.border2{
    border: 3px solid #0170b9;
    width: 355px;
    height: 350px;
    position: relative;
    bottom: 330px;
}
.border3{
    border: 3px solid #0170b9;
    width: 355px;
    height: 350px;
    position: relative;
    bottom: 330px;
}
.text1{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    color: #0170b9;
}
.text2{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    color: #0170b9;
}
.text3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    color: #0170b9;
}




.conteiner4{
    max-width: 1300px;
    width: 100%;
    height: 600px;
    margin: 10px auto;
}
.content3{
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    height: 1100px;
}
.line2{
    display: flex;
}
.first-line2{
    width: 600px;
    height: 5px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.second-line2{
    width: 600px;
    height: 5px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 100px;
}
.cap{
    width: 50px;
    margin: -50px 0 0 622px;
}
.zag{
    font-size: 20px;
    margin: 10px 0 0 0;
}


.spacial-text1:hover{
    color: #2aa6f8;
}
.spacial-text2:hover{
    color: #2aa6f8;
}
.spacial-text3:hover{
    color: #2aa6f8;
}
.spacial-text4:hover{
    color: #2aa6f8;
}
.spacial-text5:hover{
    color: #2aa6f8;
}
.spacial-text6:hover{
    color: #2aa6f8;
}

.spacial1{
    margin: 50px 0 0 0;
    width: 355px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.spacial2{
    position: relative;
    bottom: 400px;
    left: 475px;
    width: 355px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.spacial3{
    position: relative;
    left: 945px;
    bottom: 800px;
    width: 355px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.spacial4{
    position: relative;
    bottom: 700px;
    width: 355px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.spacial5{
    position: relative;
    bottom: 1100px;
    left: 470px;
    width: 355px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.spacial6{
    position: relative;
    left: 945px;
    bottom: 1500px;
    width: 355px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.icon1{
    margin: 15px 0 0 0;
}
.txt1{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 0 0;
    color: white;
}
.info1{
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 0 0;
    color: white;
}
.spacial-text1{
    text-decoration: none;
    color: white;
}
.button1{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0 0 ;
}


.icon2{
    margin: 15px 0 0 0;
}
.txt2{
    font-size: 23px;
    font-weight: 500;
    margin: 20px 0 0 0;
    color: white;
}
.info2{
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0 0 0;
    color: white;
}
.spacial-text2{
    text-decoration: none;
    color: white;
}
.button2{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0 0 ;
}


.icon3{
    margin: 15px 0 0 0;
}
.txt3{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 0 0;
    color: white;
}
.info3{
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 0 0;
    color: white;
}
.spacial-text3{
    text-decoration: none;
    color: white;
}
.button3{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0 0 ;
}


.icon4{
    margin: 15px 0 0 0;
}
.txt4{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 0 0;
    color: white;
}
.info4{
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 0 0;
    color: white;
}
.spacial-text4{
    text-decoration: none;
    color: white;
}
.button4{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0 0 ;
}


.icon5{
    margin: 15px 0 0 0;
}
.txt5{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 0 0;
    color: white;
}
.info5{
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 0 0;
    color: white;
}
.spacial-text5{
    text-decoration: none;
    color: white;
}
.button5{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0 0 ;
}


.icon6{
    margin: 15px 0 0 0;
}
.txt6{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 0 0;
    color: white;
}
.info6{
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 0 0;
    color: white;
}
.spacial-text6{
    text-decoration: none;
    color: white;
}
.button6{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0 0 ;
}


.conteiner5{
    max-width: 1366px;
    width: 100%;
    height: 200px;
    margin: 550px auto 0 auto;
    background-color: #0170b9;
}
.content4{
    max-width: 1300px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.adres{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 20px;
    margin-left: 20px;
    color: white;
}
.num{
    position: relative;
    top: 30px;
}
.message{

}
.icons{
    margin-left: 25px;
    position: relative;
    left: 1000px;
    bottom: 50px;
}